<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Springify{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    {% endblock %}
</head>
<body>
    {% if request.path == "/home" %}
    <div class="main container-fluid bg-light text-dark">
    {% else %}
    <div class="base container-fluid bg-light text-dark">
    {% endif %}
        <div class="row">
            <nav class="col-sm-2 sidebar sidebar-sticky d-none d-md-block bg-dark text-light pt-3">
                <div class="sidebar-sticky">
                    {% block sidebar %}
                        {% block user_info %}
                        <div class="user_info">
                            {% if user['images']|length >= 1%}
                                <div class="user_image" style="background-image: url('{{user['images'][0]['url']}}')">
                                    <img src="{{user['images'][0]['url']}}" class="img-fluid">
                                </div>
                            {% else %}
                                <svg style="width:75%; height:75%; margin: 0 auto; display:block;" viewBox="0 0 80 90" xmlns="http://www.w3.org/2000/svg">
                                    <title>User Icon</title>
                                    <path d="M67.74 61.78l-14.5-8.334c-.735-.422-1.24-1.145-1.385-1.98-.145-.835.088-1.685.638-2.33l5.912-6.93c3.747-4.378 5.81-9.967 5.81-15.737v-2.256c0-6.668-2.792-13.108-7.658-17.67C51.622 1.92 45.17-.386 38.392.054c-12.677.82-22.607 11.772-22.607 24.934v1.483c0 5.77 2.063 11.36 5.81 15.736l5.912 6.933c.55.644.783 1.493.638 2.33-.143.834-.648 1.556-1.383 1.98l-14.494 8.33C4.7 66.077 0 74.15 0 82.844v6.76h3.333v-6.76c0-7.5 4.055-14.46 10.59-18.174l14.5-8.334c1.597-.918 2.692-2.487 3.007-4.302.315-1.815-.19-3.66-1.387-5.06l-5.913-6.936c-3.23-3.775-5.01-8.594-5.01-13.57v-1.484c0-11.41 8.562-20.9 19.488-21.608 5.85-.377 11.415 1.61 15.67 5.598 4.26 3.992 6.605 9.404 6.605 15.24v2.254c0 4.976-1.778 9.796-5.01 13.57l-5.915 6.935c-1.195 1.4-1.7 3.246-1.386 5.06.313 1.816 1.41 3.385 3.008 4.303l14.507 8.338c6.525 3.71 10.58 10.67 10.58 18.17v6.76H80v-6.76c0-8.695-4.7-16.768-12.26-21.063z" fill="currentColor" fill-rule="evenodd"></path>
                                </svg>
                            {% endif %}
                            <h6 class="username center text-truncate d-block justify-content-between align-items-center px-0 mt-4 mb-1">
                                {{user['display_name']}}
                            </h6>
                            <p class="font-italic center subtitle">Logged in</p>
                        </div>
                        {% endblock%}
                        {% block nav %}
                        <ul class="nav flex-column mt-5">
                            <li class="nav-item">
                                <a href="/home" class="nav-link px-0 mx-2 text-light">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/playlists" class="nav-link px-0 mx-2 text-light">Delete Playlists</a>
                            </li>
                            <li class="nav-item">
                                <a href="/album" class="nav-link px-0 mx-2 text-light">Remove Albums</a>
                            </li>
                            <li class="nav-item">
                                <a href="/tracks" class="nav-link px-0 mx-2 text-light">Remove Songs</a>
                            </li>
                            <li class="nav-item">
                                <a href="/springify" class="nav-link px-0 mx-2 text-light">Springify</a>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts" class="nav-link px-0 mx-2 text-light">Unfollow</a>
                            </li>
                            <li class="nav-item">
                                <a href="/signout" class="nav-link px-0 mx-2 text-light">Sign Out</a>
                            </li>
                        </ul>
                        {% endblock %}
                    {% endblock %}
                </div>
            </nav>
            <div class="col-sm-10 content">
                    <div class="title mt-3 ml-4">
                        {% block header %}{% endblock %}  
                    </div>
                {% block content %}{% endblock %}
            </div>
            {% block selected_items %}{% endblock %}
        </div>
    </div>
</body>
<script type="text/javascript">
    function searchList(springify) {
        // Declare variables
        var input, filter, tbody, trow, th, label, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        tbody = document.getElementById("tableBody");
        trows = tbody.getElementsByTagName('tr');
        counter = 0;
        for (i = 1; i < trows.length; i++) {
            td = trows[i].getElementsByTagName("td")[0];
            media = td.getElementsByTagName('div')[0];
            mediaBody = null;
            if(springify != null){
                mediaBody = media.getElementsByTagName('div')[0];
            }
            else {
                mediaBody = media.getElementsByTagName('div')[1];
            }
            mediaLabel = mediaBody.getElementsByTagName('p')[0];
            txtValue = mediaLabel.textContent || mediaLabel.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                trows[i].style.display = "table-row";
                counter++;
            } else {
                trows[i].style.display = "none";
            }
        }
        if(counter == 0){
            console.log('No results found')
            trows[0].style.display = "none";
            document.getElementById('empty').innerHTML = "<div><p class='font-weight-bold'> No results found. </p></div>";
            document.getElementById('submit-group').style.display = "none"
        }
        else {
            document.getElementById('empty').innerHTML = "";
            document.getElementById('submit-group').style.display = "inline-flex";
            trows[0].style.display = "table-row";
        }
    }
    function sortTable(n) {
        var table, rows, switching, i, x, y, x_, y_, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("form-table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc"; 
        num = false;
        if(n > 0){
            num = true;
        }
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("td")[n];
                y = rows[i + 1].getElementsByTagName("td")[n];
                if(x.getElementsByTagName('a').length > 0){
                    x_ = x.getElementsByTagName('a')[0].getElementsByTagName('div')[0].getElementsByTagName('div')[1].getElementsByTagName('p')[0];
                    y_ = y.getElementsByTagName('a')[0].getElementsByTagName('div')[0].getElementsByTagName('div')[1].getElementsByTagName('p')[0];
                }
                else{
                    if(x.getElementsByTagName('div')[0].getElementsByTagName('div').length > 1){
                        x_ = x.getElementsByTagName('div')[0].getElementsByTagName('div')[1].getElementsByTagName('p')[0];
                        y_ = y.getElementsByTagName('div')[0].getElementsByTagName('div')[1].getElementsByTagName('p')[0];
                    }
                    else {
                        x_ = x.getElementsByTagName('div')[0].getElementsByTagName('div')[0].getElementsByTagName('p')[0];
                        y_ = y.getElementsByTagName('div')[0].getElementsByTagName('div')[0].getElementsByTagName('p')[0];
                    }
                }
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if(!num){
                        if (x_.innerHTML.toLowerCase() > y_.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if(Number(x_.innerHTML) > Number(y_.innerHTML)) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                } else if (dir == "desc") {
                    if(!num){
                        if (x_.innerHTML.toLowerCase() < y_.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                    else {
                        if(Number(x_.innerHTML) < Number(y_.innerHTML)){
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++; 
            } 
            else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
{% block script %}
{% endblock %}
</html>