{% extends "base.html" %}
{% block header %}
    <h1>Welcome to Springify</h1>
{% endblock %}
{% block content %}
    <div class="about mt-5 mx-4">
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            About
                        </h2>
                        <p class="card-text">
                            TODO
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                Features
                            </h2>
                            <p class="card-text">
                                TODO
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}